*{
    padding: 0;
    margin: 0;
}
body{
    background: url(https://images.pexels.com/photos/210661/pexels-photo-210661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}
.container{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #4a37c9, #004cb9, #004c8f, #004460, #00383b, #064240, #134c43, #225645, #337c6a, #42a593, #51cfc0, #5ffbf1);
    padding: 10px;
}
.todo-app{
    max-width: 540px;
    width: 100%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    
}
.todo-app h2
{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    color: #fff;
    background: #ff5945;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
content: ' ';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background-image: url(/To-Do-Img/images/unchecked.png);
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/To-Do-Img/images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
@media(max-width:700px) {
    .todo-app{
        width: auto;
        height: auto;
    }
    
}
@media(max-width:540px){
    .todo-app{
        width: auto;
        height: auto;
    }

}